.display {
	background: var(--screen-background-color);
	border-radius: var(--border-radius);
	height: 85px;
	width: 100%;
}

.display-numbers {
	color: var(--white);
	font-size: var(--font-size);
}

[data-theme="2"] .display-numbers {
	color: var(--text-color);
}

[data-theme="3"] .display-numbers {
	color: var(--text-color);
}