* {
	--theme-switch-font-size: 12px;
}

.ball {
	background: hsl(6, 63%, 50%);
	border-radius: 100%;
	margin-left: 4px;
	height: 12px;
	width: 12px;
	transition: transform 1.0s, color 1.5s;
}

[data-theme="2"] .ball {
	background: hsl(25, 98%, 40%);
	transform: translateX(18px);
}

[data-theme="3"] .ball {
	background: hsl(176, 100%, 44%);
	transform: translateX(36px);
}

.slider {
	background: var(--toggle-background-color);
	border-radius: 20%/50%;
	width: 100%;
	height: 20px;
}

.theme-text {
	color: var(--white);
	font-size: var(--theme-switch-font-size);
	text-transform: uppercase;
}

[data-theme="2"] .theme-text {
	color: var(--text-color);
}

[data-theme="3"] .theme-text {
	color: var(--text-color);
}

.theme-number {
	color: var(--white);
	font-size: var(--theme-switch-font-size);
}

[data-theme="2"] .theme-number {
	color: var(--text-color);
}

[data-theme="3"] .theme-number {
	color: var(--text-color);
}