/* Add League Spartan font from Google fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

/* Themes (1 as default) */

:root {
  /* Backgrounds */
  --main-background-color: hsl(222, 26%, 31%);
  --toggle-background-color: hsl(223, 31%, 20%);
  --keypad-background-color: hsl(223, 31%, 20%);
  --screen-background-color: hsl(224, 36%, 15%);

  /* Keys */
  --special-key-background: hsl(225, 21%, 49%);
  --special-key-shadow: hsl(224, 28%, 35%);

  --submit-key-background: hsl(6, 63%, 50%);
  --submit-key-shadow: hsl(6, 70%, 34%);

  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  /* Text */
  --text-color: hsl(221, 14%, 31%);
  --white: hsl(0, 0%, 100%);
  --font-size: 32px;
  --font-family: "League Spartan", sans-serif;

	/* Border radius */
	--border-radius: 10px;

  /* Theme transitioning */
  --dark-mode-transition: background-color 1.5s, color 1.5s;
}

[data-theme="2"] {
  /* Backgrounds */
  --main-background-color: hsl(0, 0%, 90%);
  --toggle-background-color: hsl(0, 5%, 81%);
  --keypad-background-color: hsl(0, 5%, 81%);
  --screen-background-color: hsl(0, 0%, 93%);

  /* Keys */
  --special-key-background: hsl(185, 42%, 37%);
  --special-key-shadow: hsl(185, 58%, 25%);

  --submit-key-background: hsl(25, 98%, 40%);
  --submit-key-shadow: hsl(25, 99%, 27%);

  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  /* Text */
  --text-color: hsl(60, 10%, 19%);
}

[data-theme="3"] {
  /* Backgrounds */
  --main-background-color: hsl(268, 75%, 9%);
  --toggle-background-color: hsl(268, 71%, 12%);
  --keypad-background-color: hsl(268, 71%, 12%);
  --screen-background-color: hsl(268, 71%, 12%);

  /* Keys */
  --special-key-background: hsl(281, 89%, 26%);
  --special-key-shadow: hsl(285, 91%, 52%);

  --submit-key-background: hsl(176, 100%, 44%);
  --submit-key-shadow: hsl(177, 92%, 70%);

  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  /* Text */
  --text-color: hsl(52, 100%, 62%);
  --secondary-text-color: hsl(198, 20%, 13%);
}

/* General styling */


body {
  background: var(--main-background-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--text-color);
}

.title {
  font-size: var(--font-size);
  color: hsl(0, 0%, 100%);
}

@media all and (max-width: 375px) {
  .calculator {
		margin: 20px;
  }
}

@media all and (max-width: 1440px) and (min-width: 376px) {
  .calculator {
		margin: 40px;
  }
}
